
input[type="text"]{
    border-width: 0 0 1px 0;
}

input:required{
    border-color: red;
}
input::placeholder{
    color: gray;
    font-style: italic;
    font-size: 12px;
}

button[type="submit"]{
    margin-top: 10px;
    font-size: 10px;
    border-radius: 10px;
    border-collapse: collapse;
    border: 1px solid red;
}

button[type="submit"]:disabled:hover{
    background-color: red;
    color: white;
}

input:invalid{
    color: red;
    font-size: 10px;
}

div:has(h1){
    background-color: rgb(232, 109, 109);
}
div:not(:has(h1)){
    background-color: rgb(251, 136, 70);
    padding: 10px;
}